  <nav class="pager-nav text-center" role="navigation" aria-labelledby="pagination--heading">
    <h4 id="pagination--heading" class="visually-hidden">{{ 'Pagination' }}</h4>
    <ul class="pagination--content js-pager__items">
        <li class="pager__item pager__item--previous">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page' }}" rel="prev"{{ items.previous.attributes }} class="pagination--previous-next">
            <span class="visually-hidden">{{ 'Previous page'}}</span>
            <span aria-hidden="true"> ‹ </span>
          </a>
        </li>
      <ul class="pagination--dropdown">
          <li class="dropdown">
          <a href="" data-target="#" data-toggle="dropdown" aria-expanded="false" class="pagination--number">
            <div class="pagination--number-line">
              {{current}}
            </div>
            <div class="pagination--number-arrow">
              <span class="svg-dropdown-arrow-blue svg-dropdown-arrow-blue-dims svg-dropdown-arrow-blue-pagination svg-dropdown-arrow-scale"></span>
            </div>
          </a>
          <span class="pagination--last-item">&nbsp&nbsp of &nbsp&nbsp{{items.pages | length}}</span>
          <ul class="menu dropdown-menu pagination--dropdown-menu">
          {% for key, item in items.pages %}
            <li class="expanded dropdown pagination--dropdown-menu-item pager__item{{ current == key ? ' is-active active' : '' }}">
              <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes }} class="pagination--dropdown-link">
                <span class="visually-hidden">
                  {{ current == key ? 'Current page' : 'Page' }}
                </span>
                {{- key -}}
              </a>
            </li>
          {% endfor %}
          </ul>
        </li>
      </ul>
        <li class="pager__item pager__item--next">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page' }}" rel="next"{{ items.next.attributes }} class="pagination--previous-next">
            <span class="visually-hidden">{{ 'Next page' }}</span>
            <span aria-hidden="true"> › </span>
          </a>
        </li>
    </ul>
  </nav>
